body { background-color: #111; color: #ccc; font-family: Helvetica; }

h1, h2, h3 { margin: 0.5em 0; font-family: Tahoma; }
h1 { text-align: center; font-size: 2.3em; letter-spacing: -1px; }
h2 { font-size: 1.2em; font-weight: bold; }
h3 { font-weight: bold; font-family: Helvetica; }

a { color: #ccc; text-decoration: none; border-bottom: 1px dotted #ccc; }
a:hover { color: #fff; border-bottom: 1px solid #fff; }

div#left-bar { width: 180px; position: absolute; top: 0; left: 610px; font-size: 0.8em; }
    div#left-bar ul#useful-links { margin: 2em 0; }
        div#left-bar ul#useful-links li { line-height: 1.4em; margin: 0.4em 0; list-style: square; margin-left: 1em; }

div#map-container { position: absolute; top:0; left:0; width: 600px; }

ol.timetable { width: 50%; margin: 0 auto; }
    ol.timetable li { clear: both; }
    ol.timetable li span.dayname, ol.timetable li span.working-hours {
        display: block;
        line-height: 2em;
        font-size: 1.1em;
    }
    ol.timetable li span.dayname { float: left; font-weight: bold; color: red; }
    ol.timetable li span.dayname:after { content: ':'; padding-left: 0.2em; }
    ol.timetable li span.working-hours { float: right; }